{{template "JavaPackage" .}}
import com.google.common.reflect.TypeToken;

/**
 * GraphQL Runtime
 */
public interface GraphLang {
    interface Resolver {
        default <IN, OUT> void resolve(ValueResolver<IN, OUT> resolver) {
            resolver.exception(new UnsupportedOperationException("Unimplemented"));
        }
    }

    interface ValueResolver<IN, OUT> {

        IN getArgument();

        OUT getValue();

        void resolve(OUT value);

        void resolve(CompletionStage<OUT> value);

        boolean isResolved();

        CompletionStage<OUT> getFeature();

        void exception(Throwable throwable);

        String getFieldName();

        String getTypeName();

        TypeToken<IN> getArgumentType();

        TypeToken<OUT> getValueType();
    }
}
